.login-card {
  width: 27%;

  @media $tab {
    width: 50%;
  }

  @media $mobile {
    width: 97%;
  }

  .forgotPassword {
    float: right;
    text-decoration: none;
  }

  .login-logo {
    width: 80px;
  }

  .errorMsg {
    font-size: small; 
    color: #EB0019
  }
}